@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.footer{
  width: 100%;
  background-color: #77c3ec;
  text-align: center;
  padding: 10px;
  color: white;
}
.embla {
  overflow: hidden;
}
.embla__container {
  display: flex;
}
.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}
.embla__slide img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.logincover{
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('./assets/images/Nigeriansoilder.png'); */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(' https://media.istockphoto.com/id/1500822425/photo/hotel-guest-at-empty-reception-desk.jpg?s=612x612&w=0&k=20&c=IIxNFf-j9RDdze3rf_PK8lQe14zz_CmZLCubWd2r9h8= ');
  background-size: cover;
  background-position: center;
  opacity: 0.9;
  
}
.formValues{
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  /* border: 1px solid white; */
}
.formValues input{
  height: 35px;
}
.formValues button{
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}